<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/communefavicon.ico">
  <title>Commune Cafe</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body onclick="window.location.href='/register'">
  <img src="/images/logocommune.webp" alt="Commune Cafe Logo" class="logo">
  <h2 style="font-size: 12px;">Click anywhere to continue</h2>
</body>
</html>
