<!DOCTYPE html>
<html>
<head>
  <title>Thank You - Commune Cafe</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="form-box">
    <h2>Terima kasih, <%= name %>!</h2>

    <p class="success-message">
      Pendaftaran sudah berhasil.
    </p>

    <p>
      Detail acara akan dikirim ke email yang sudah di daftarkan. (Please check spam or inbox)
    </p>

    <p>
      See you @ Commune Cafe!
    </p>
  </div>
</body>
</html>